In [33]:
from pandas import DataFrame
class PrintableList(list):
    def to_dataframe(self):
        if self and hasattr(self[0],"_fields"):
            return DataFrame(list(self), columns = self[0]._fields)
        return DataFrame(list(self))
    def _repr_html_(self):
        return self.to_dataframe()._repr_html_()

In [34]:
person = namedtuple("person","name,age,height")

In [35]:
p1,p2,p3 = person("Yotam",21, 1.9),person("Yotam",21, 1.9),person("Yotam",21, 1.9)

In [41]:
PrintableList([[1,2,3],[4,5,6],[7,8,9]])

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [43]:
PrintableList([p1,p2,p3]).to_dataframe()

    name  age  height
0  Yotam   21     1.9
1  Yotam   21     1.9
2  Yotam   21     1.9

In [45]:
import csv
with open("./DataCollections/AirlinesData/flight_363.csv","rb") as f:
    reader = csv.reader(f)
    lines = list(reader)
from collections import namedtuple
data_line = namedtuple("")
ls = []